language: ruby
sudo: false
install: ./mvnw initialize; bundle install --jobs=3 --retry=3
rvm:
  - jruby-1.7.24
  - 2.0.0
  - 2.1.0
  - ruby-head
matrix:
  include:
    - rvm: jruby
      jdk: openjdk7
      script: ./mvnw test
    - rvm: jruby
      jdk: oraclejdk7
      script: ./mvnw test
    - rvm: jruby
      jdk: oraclejdk8
      script: ./mvnw test
  allow_failures:
    - rvm: ruby-head
